.home {
  position: relative;
}
.img2 {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 205px;
  top: 80px;
}
.img1 {
  width: 100px;
  position: absolute;
  width: 100px;
  height: 160px;
  left: 187px;
  top: 455px;
}

.login-part {
  position: absolute;
  top: 60px;
  left: 400px;
}
